/* Tables */
table {
  margin-bottom: 1rem;
  max-width: 100%;
  /* border: 1px solid #e5e5e5; looks bad if table is less than full width bc of display: block */
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
