/* Tables */
table {
  max-width: 100%;
  /* border: 1px solid #e5e5e5; looks bad if table is less than full width bc of display: block */
  border-collapse: collapse;
  /* display: block; */
  overflow-x: auto;
}

/* whatever this does; I do't et it rigth... :/
td, th {
  padding: .25rem .5rem;
  background-color: #11111;
  border: 1px solid black;
}
*/

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: white;
}

.reveal table th {
  background: #404040;
  color: white;
}


/* reveal.js options */
.reveal section ul li {
  text-align: left;
  font-size: 0.8em;
}

.reveal section p {
  text-align: left;
  font-size: 0.8em;
}

.reveal p code {
  font-size: 0.7em;
}

.reveal ul li {
  size: 90%;
  font-size: 0.8em;
}

.reveal ol li {
  size: 90%;
  font-size: 0.8em;
}

.reveal section h1 {
  font-size: 1.5em;
}

.reveal section pre code {
  size: 70%;
  font-size: 0.8;
}
